html {
    font-family: Lato, sans-serif;
}

body {
    background-color: #121212;
    color: #e1e1e1;
}

a {
    color: #1e88e5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.navbar {
    max-width: 840px;
    margin: 50px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
}

.navbar_logo {
    display: flex;
    align-items: center;
    color: #1e88e5;
    font-weight: bold;
}

.navbar_logo img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.navbar_navegacion {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}

.navbar_navegacion_item {
    margin-left: 50px;
}

.main {
    max-width: 650px;
    margin: 0 auto;
    padding: 0 20px;
}

.form {
    width: 100%;
    background-color: #1f1f1f;
}

.form_label {
    padding: 10px 0;
    display: block;
    margin-bottom: 10px;
}

.title, .form_textarea {
    width: 650px;
    font-size: 18px;
    padding: 12px 0px;
    background-color: #2d2d2d;
    border: none;
    color: #e1e1e1;
}


.form_submit {
    background-color: #1e88e5;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 30px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.form_submit:hover {
    background-color: #1565c0;
}

.entry {
    background-color: #1f1f1f;
    margin-top: 50px;
}

.entry_title {
    display: inline;
    font-size: 16px;
}

.entry_date {
    color: #1e88e5;
    font-style: italic;
}

.entry_content{
    font-size: 16px;
    line-height: 150%;
}

.footer{
    background-color: #1f1f1f;
    padding: 40px 0px;
    margin-top: 50px;
    border-top: 4px solid #1e88e5;
    font-size: 12px;
}

.footer_content{
    max-width: 640px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.footer_left {
    flex-grow: 2;
    display: flex;
    flex-direction: column;

}

.footer .right {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.footer_column{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.footer_item {
    margin-bottom: 5px;
    text-decoration: none;
}