<!DOCTYPE html>
<html lang="sp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diario de actividades</title>
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body>
    <header class="navbar">
        <div class="navbar_logo">
            <img src="../static/logo.png" alt="Logo del sitio">Diario de actividades
        </div>
        <ul class="navbar_navegacion">
            <li class="navbar_navegacion_item"><a href="#" class="navbar_link">Recordatorio</a></li>
            <li class="navbar_navegacion_item"><a href="#" class="navbar_link">Calendario</a></li>
        </ul>
    </header>
    <main class="main"> 
        <section>
            <h2>Agregar una nueva actividad</h2>
            <form class="form" method="POST">
                <p class="form_input">   
                    <label for="titulo" class="form_label">Actividad</label>
                    <input type="text" name="actividad" id="titulo" class="title">
                </p>
                <p class="form_input">   
                    <label for="entry" class="form_label">Contenido</label>
                    <textarea type="text" name="contenido" id="entry" class="form_textarea"></textarea>
                </p>
                <button type="submit" class="form_submit">Agregar</button> 
            </form>
        </section>
        <section>
            <h2>Actividades recientes</h2>
            <article class="entry">
                <div>
                    <h3 class="entry_title">Realizar compras a Nestle</h3>
                    <time datetime="16-10-2025" class="entry_date">* 16-10-2025</time>
                </div>
                <p class="entry_content">
                    Hoy se debe realizar compras al proveedor de Nestle, no olvidar las galletas OREO
                </p>
            </article>
            {% for entrada in entradas %}
            <article class="entry">
                <div>
                    <h3 class="entry_title">{{ entrada. titulo}}</h3>
                    <time datetime= {{ entrada.fecha }} class="entry_date">* {{ entrada.fecha }}</time>
                </div>
                <p class="entry_content">
                    {{ entrada.contenido}}
                </p>
            </article>
            {% endfor %}
        </section>  
    </main>
    <footer class="footer">
        <div class="footer_content">
            <section class="left">
                <div class="footer_column">
                    <a class="footer_item">Creado por Estudiantes Ing. Sistemas</a>
                    <a class="footer_item">Universidad Libre Seccional Pereira</a>
                </div>
            </section>
            <section class="right">
                <div class="footer_column">
                    <a class="footer_item">Recientes</a>
                    <a class="footer_item">Calendario</a>
                </div>

                <div class="footer_column">
                    <a class="footer_item">Acerca de</a>
                    <a class="footer_item">Flask + MongoDB</a>
                </div>
            </section>
        </div>
    </footer>
    
</body>
</html>